<h1>Log in</h1>

<form class="log_in" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="email">Email: </label><br>
  <input id="email" type="text" name="users[email]" value=""><br>

  <label for="password">Password: </label><br>
  <input id="password" type="password" name="users[password]" value="">

  <input type="submit" value="submit">
</form>
